* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 16px;
  padding-top: 20px;
  background-color: #131313;
  font-family: "Rubik", sans-serif;
}

.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.title {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.greeting h2 {
  margin-bottom: 0;
  font-weight: 600;
  text-align: left;
}

.greeting p {
  margin-top: 0;
  margin-left: 10px;
  font-weight: 400;
  color: #8c8f8f;
}

.date {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

form {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  background-color: #252525;
  width: 100%;
  background-color: #252525;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.todolist {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  margin-bottom: 10px;
}

.todoDetails {
  color: white;
  background-color: #252525;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid black;
  gap: 10px;
  align-items: center;
}

/* The default styles for form elements like checkboxes are controlled by the browser and can be challenging to override completely. */
/* input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid red;
} */

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid green;
}

.todotask {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
}

.todoDate {
  margin-bottom: 0;
  font-size: small;
}

.task {
  margin-top: 0;
  font-size: medium;
}
